server:
  port: 8000
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: exchange-service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/exchange_service
    username: root
    password: admin123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

management:
  endpoints:
    web:
      exposure:
        include:
          - "*"